<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}

    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>

      {% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">
          {{ childlink.title | escape }}
        </a>
      {% endfor %}
    {% else %}
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
    {% endif %}
  {% endfor %}
</div>