{% if product.type == "BarSoap" %}
{% assign collectionMatch = collections["bar-soaps"] %}
{% elsif product.type == "HairCare" %}
{% assign collectionMatch = collections["hair-care"] %}
{% elsif product.type == "Deodorant" or product.handle == "soap-deo-duo" or product.handle == "deodorant-soap-set"%}
{% assign collectionMatch = collections["deodorant"] %}
{% assign subsCollection = collections["deodorant-subscriptions"] %}
{% elsif product.type == "Toothpaste" %}
{% assign collectionMatch = collections["toothpaste"] %}
{% assign subsCollection = collections["toothpaste-subscriptions"] %}
{% elsif product.type == "Cologne" %}
{% assign collectionMatch = collections["colognes"] %}
{% elsif product.type == "Beard" %}
{% assign collectionMatch = collections["beard"] %}
{% elsif product.type == "Sanitizer" %}
{% assign collectionMatch = collections["hand-sanitizer"] %}
{% elsif product.type == "LiquidSoap" %}
{% assign collectionMatch = collections["hand-soap"] %}
{% elsif product.type == "Gear" %}
{% assign collectionMatch = collections["gear"] %}
{% endif %}

{% comment %}
THIS IS TEMPORARY FOR MVP launch
These Should be created as product.[prefix].liquid templates
But holding off for now due to routing rules
{% endcomment %}
{% assign subFlowLink = "BarSoap,HairCare" | split: "," %}
{% assign subFlowInPage = "Toothpaste" | split: "," %}
{% assign subFlowInPageCustom = "Deodorant" | split: "," %}
{% if subFlowLink contains product.type %}
{{ 'product-with-sub-link.js' | asset_url | script_tag }}
{{ 'product-with-sub-link.css' | asset_url | stylesheet_tag }}
<product-with-subscription-flow 
  :prod="{{ product | json | json | escape }}"
  :collection="{
        title: '{{ collectionMatch.title }}',
        handle: '{{ collectionMatch.handle }}',
        path: '{{ collectionMatch.url }}',
        products: {{ collectionMatch.products | json | escape }}
      }"
/>
{% elsif subFlowInPage contains product.type %}
{{ 'product-with-sub-flow.js' | asset_url | script_tag }}
{{ 'product-with-sub-flow.css' | asset_url | stylesheet_tag }}
<product-with-in-page-subscription 
  :prod="{{ product | json | json | escape }}" :collection="{
    title: '{{ collectionMatch.title }}',
    handle: '{{ collectionMatch.handle }}',
    path: '{{ collectionMatch.url }}',
    products: {{ collectionMatch.products | json | escape }}
  }"
  :subscription-collection="{
    handle: '{{ subsCollection.handle }}',
    products: {{ subsCollection.products | json | escape }}
  }"
/>
{% elsif subFlowInPageCustom contains product.type %}
{{ 'product-with-cust-sub-flow.js' | asset_url | script_tag }}
{{ 'product-with-cust-sub-flow.css' | asset_url | stylesheet_tag }}
<product-with-in-page-custom-subscription
  :prod="{{ product | json | json | escape }}"
  :collection="{
    title: '{{ collectionMatch.title }}',
    handle: '{{ collectionMatch.handle }}',
    path: '{{ collectionMatch.url }}',
    products: {{ collectionMatch.products | json | escape }}
  }"
  :subscription-collection="{
    handle: '{{ subsCollection.handle }}',
    products: {{ subsCollection.products | json | escape }}
  }"
/>
{% else %}
{{ 'product-onetime-only.js' | asset_url | script_tag }}
{{ 'product-onetime-only.css' | asset_url | stylesheet_tag }}
<product-onetime-only
  :prod="{{ product | json | json | escape }}"
  :collection="{
    title: '{{ collectionMatch.title }}',
    handle: '{{ collectionMatch.handle }}',
    path: '{{ collectionMatch.url }}',
    products: {{ collectionMatch.products | json | escape }}
  }"
/>
{% endif %}
{% comment %}
<div id="layout-product">
  <product :product-data-string="{{ product | json | json | escape }}"
    :collections-data="{{ collections | json | json | escape }}" :collection="{
      title: '{{ collectionMatch.title }}',
      handle: '{{ collectionMatch.handle }}',
      path: '{{ collectionMatch.url }}',
      products: {{ collectionMatch.products | json | escape }}
    }" :subscription-collection="{
      handle: '{{ subsCollection.handle }}',
      products: {{ subsCollection.products | json | escape }}
    }"></product>
</div>
{% endcomment %}