<div
  class="bg-gray-200 py-4 mb-8"
  style="color: {{ section.settings.text_color }}; background: {{ section.settings.background_color }};"
>
  <div class="container">
    <div class="flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">
        Logo
      </a>

      {% render 'layout-menu', class: 'hidden md:block space-x-4' %}

      <div class="flex items-center space-x-4">
        <a href="/search" class="flex items-center">
          <span class="hidden md:block mr-2">
            {{ 'layout.search.title' | t }}
          </span>

          {% render 'icon-search', class: 'text-gray-600 w-5' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account">
              {{ 'layout.customer.account' | t }}
            </a>

            <div class="hidden md:block">
              {{ 'layout.customer.logout' | t | customer_logout_link }}
            </div>
          {% else %}
            <div class="hidden md:block">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </div>

            <div class="hidden md:block">
              {{ 'layout.customer.register' | t | customer_register_link }}
            </div>
          {% endif %}
        {% endif %}

        <a href="/cart" class="flex items-center">
          <span class="hidden md:block mr-2">
            {{ 'layout.cart.title' | t }}
          </span>

          {% render 'icon-cart', class: 'text-gray-600 w-5' %}
        </a>

        <button
          class="md:hidden"
          @click="$store.dispatch('offcanvas/show')"
        >
          {% render 'icon-menu', class: 'text-gray-600 w-5' %}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Header",
    "de": "Kopfzeile"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Colrs",
        "de": "Farben"
      }
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background color",
        "de": "Hintergrundfarbe"
      }
    },
    {
      "type": "color",
      "id": "text_color",
      "label": {
        "en": "Text color",
        "de": "Textfarbe"
      }
    }
  ]
}
{% endschema %}