{% assign subsCollection = collections['refactor-all-subscriptions'] %}
{% assign subOptionsCollection = collections['subscription-flow-scents'] %}

<div class="account-page-container">
  <account
    :subscription-products="{{ subsCollection.products | json | escape }}"
    :subscription-options="{{ subOptionsCollection.products | json | escape }}"
    :user="{
      id: '{{ customer.id }}',
      tags: {{ customer.tags | json | escape}},
      firstName: '{{ customer.first_name }}',
      lastName: '{{ customer.last_name }}',
      email: '{{ customer.email }}'
    }"
  >
    <template #recent-orders>
      {% render "account-recent-orders" %}
    </template>
    <template #order-history>
      {% render "account-vue-order-history" %}
    </template>
  </account>
</div>