{% assign soapSubsCollection = collections['soap-subscriptions'] %}
{% assign soapOptionsCollection = collections['bar-soaps'] %}
{% assign hairCareSubsCollection = collections['hair-care-sub'] %}
{% assign hairCareOptionsCollection = collections['hair-care'] %}
{% assign toothpasteSubsCollection = collections['toothpaste-subscriptions'] %}
{% assign toothpasteOptionsCollection = collections['toothpaste'] %}
{% assign deodorantSubsCollection = collections['deodorant-subscriptions'] %}
{% assign deodorantOptionsCollection = collections['deodorant'] %}

<div class="account-page-container">
  <account
    :subscription-collections="{
      soap: {{ soapSubsCollection.products | json | replace: '"', "'" }},
      haircare: {{ hairCareSubsCollection.products | json | replace: '"', "'" }},
      toothpaste: {{ toothpasteSubsCollection.products | json | replace: '"', "'" }},
      deodorant: {{ deodorantSubsCollection.products | json | replace: '"', "'" }},
    }"
    :subscription-options-data="{
      soap: {{ soapOptionsCollection.products | json | json | escape }},
      haircare: {{ hairCareOptionsCollection.products | json | json | escape }},
      toothpaste: {{ toothpasteOptionsCollection.products | json | json | escape }},
      deodorant: {{ deodorantOptionsCollection.products | json | json | escape }},
    }"
    :user="{
      id: '{{ customer.id }}',
      tagString: '{{ customer.tags | join: "; " }}',
      firstName: '{{ customer.first_name }}',
      lastName: '{{ customer.last_name }}',
      email: '{{ customer.email }}'
    }"
  >
    <template #recent-orders>
      {% render "account-recent-orders" %}
    </template>
    <template #order-history>
      {% render "account-vue-order-history" %}
    </template>
  </account>
</div>
