<!doctype html>
<html lang="{{ shop.locale }}" class="min-h-screen">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page_title }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% comment %} include css bundle if domain doesn't contain 'myshopify.com' {% endcomment %}
    {%- unless shop.url contains 'myshopify.com' -%}
      {{ 'bundle.css' | asset_url | stylesheet_tag }}
    {%- endunless -%}

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handle }} min-min-h-screen overflow-x-hidden overflow-y-scroll">
    <div id="app" class="min-h-screen flex flex-col">
      {% section 'header' %}

      <main class="flex-1 container" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}

      {% render 'vue-offcanvas' %}
    </div>

    <!-- js bundle -->
    {{ 'bundle.js' | asset_url | script_tag }}
  </body>
</html>
