<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content='{{"google716dea4c6d410cfc.static.html" | asset_url }}'>
    {% render "_head.og-meta" %}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">

    {% render "_head.seo" %}
    {% render '_head.fonts' %}
    {% render "_head.content-styles" %}

    {{ content_for_header }}

    <style>
      #app {
        min-width: 320px !important;
      }
      
      #main {
        margin-top: 75px;
      }
      
      #shopify-section-footer {
        position: relative;
      }
    </style>
  </head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ request.page_type | handle }}"
  >
    <div
      {% unless request.page_type == 'captcha' %}
        id="app"
      {% endunless %}
    >
      {% section 'header' %}
      <main id="main" role="main">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>
    {{ '_config.static.js' | asset_url | script_tag }}
    <!-- webpack bundle -->
    {% render '_body.content-scripts' %}
    {% render '_body.crawler-schema' %}
    {% render '_body.live-chat' %}
  </body>
</html>